@media print {
    nav {
        display: none;
    }

    .cv-left,
    .cv-right {
        background: none;
    }

    /* keep the CV on one printed page */
    .cv {
        page-break-inside: avoid;
    }
}