:root {
    --color-primary: #53A2B0;
    --color-secondary: #6BB9C7;
    --color-accent: #95D9DA;

    --color-text: #1F1D36;
    --color-background: #BEE7E8;
    --color-dark: #2D6A76;

    --color-light: #F5FEFF;
    --color-light-text: #E1F4F4;

    --color-hotspot: rgb(83 162 176 / 50%);
    --color-hotspot-hover: rgb(107 185 199 / 20%);

    --radius: 15px;
    --radius-image: 20px;
    --space: 20px;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal; 
}
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Medium.woff2') format('woff2');
    font-weight: 500; 
    font-style: normal;
}
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

#menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

body {
    margin: 0;
    background-color: var(--color-background);
    font-family: 'Nunito', Helvetica;
    font-weight: 500;
    font-size: 18px;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}

header, footer {
    font-family: 'Nunito', Helvetica;
    font-weight: 700;

    background-color: var(--color-secondary);
    padding: 15px 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer a {
    color: var(--color-text);
}

.header-container {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
    gap: 15px;
}

header img {
    width: 4vw;
    height: auto;
}

nav {
    background-color: var(--color-primary);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 8px;

    display: flex;
    justify-content: center;
    gap: 16px;
}

nav a {
    color: var(--color-text);
    text-decoration: none;
    padding: 6px 12px;       
    border-radius: var(--radius);    
    transition: all 0.25s ease;
}

nav a:hover{
    background-color: var(--color-background); 
    color: var(--color-text);
    text-decoration: none;
    box-shadow: 0px 2px 5px var(--color-text);
}

nav a.active {
    background-color: var(--color-dark);
    color: var(--color-light-text);
}

#about {
    width: 86%;
    max-width: 1200px;
    margin: 0 auto;
    
    display: flex;
    gap: 7%;
    align-items: center;
    padding: 2%;
}

#author {
    border-radius: var(--radius-image);
    width: 40%;
    max-width: 500px;
    height: auto;
}

.about-text {
    max-width: 70ch;
}

blockquote {
    border-left: 5px solid var(--color-secondary);
    padding: 15px 20px;
    margin: 25px 0;

    background-color: var(--color-accent);
    font-family: 'Nunito', Helvetica;
    font-style: italic;
}

.cv {
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;

    display: grid;
    grid-template-columns: 30% 70%;

    min-height: 750px;
}

.cv-left {
    background-color: var(--color-secondary);
    padding: 35px;
}

.cv-right {
    background-color: #E8F7F7;
    padding: 35px 45px;
}

.cv-left img {
    width: 100%;
    max-width: 220px;
    border-radius: var(--radius-image);
    display: block;
    margin: 0 auto 35px;
}

.cv-left h2 {
    margin-top: 30px;
    text-align: center;
}

.cv-left address {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    font-style: normal;
}

.cv-left address a {
    display: flex;
    align-items: center;
    gap: 8px;

    color: var(--color-text);
    text-decoration: none;
}

.cv-left a {
    color: var(--color-text);
}

.cv-right h1 {
    margin-top: 0;
}

.cv-right h2 {
    color: var(--color-dark);
    margin-top: 35px;
}

.cv-right ul {
    padding-left: 25px;
    list-style: none;
    padding: 0;
}

.cv-right li {
    position: relative;
    padding-left: 18px;
    margin-bottom: 10px;
}
.cv-right li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;

    width: 7px;
    height: 7px;
    border-radius: 50%;

    background-color: var(--color-primary);
}

.image-container {
    position: relative;
    width: 80%;
    max-width: 1000px;
    margin: 30px auto 0;
    margin-bottom: 30px;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.hotspot {
    position: absolute;

    background-color: var(--color-hotspot);
    border: 3px solid var(--color-primary);
    border-radius: var(--radius);

    cursor: pointer;
    transition: 0.2s ease;
}

.hotspot-panel::after {
    content: "";

    position: absolute;
    bottom: -10px;
    left: 50%;

    width: 16px;
    height: 16px;

    background-color: var(--color-light);
    border-right: 2px solid var(--color-primary);
    border-bottom: 2px solid var(--color-primary);

    transform: translateX(-50%) rotate(45deg);
}

.hotspot:hover,
.hotspot:focus-visible { 
    background-color: var(--color-hotspot-hover);
    transform: scale(1.02);
}

.hotspot-panel {
    position: absolute;

    padding: 12px 18px;
    max-width: 280px;

    background-color: var(--color-light);
    border: 2px solid var(--color-primary);
    border-radius: var(--radius);

    box-shadow: 0 4px 12px rgb(31 29 54 / 15%);

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.2s ease;
}

.hotspot:hover + .hotspot-panel {
    opacity: 1;
    visibility: visible;
}

.monitor-hotspot {
    left: 19%;
    top: 20%;
    width: 47%;
    height: 41%;

    clip-path: polygon(
        2% 12%,
        100% 9%,
        97% 89%,
        9% 99%
    );
}

.monitor-panel {
    left: 20%;
    bottom: 77%;
}

.playstation-hotspot {
    left: 0%;
    top: 65%;
    width: 30%;
    height: 35%;

    clip-path: polygon(
        0% 14%,
        84% 7%,
        94% 22%,
        84% 88%,
        0% 99%
    );
}

.playstation-panel {
    left: 0%;
    bottom: 35%;
}

.notebook-hotspot {
    left: 73%;
    top: 35%;
    width: 30%;
    height: 50%;

    clip-path: polygon(
        15% 11%,
        90% 16%,
        90% 99%,
        16% 84%,
        2% 72%
    );
}

.notebook-panel {
    left: 75%;
    bottom: 60%;
}

.photo-hotspot {
    left: 30%;
    top: 50%;
    width: 15%;
    height: 20%;

    clip-path: polygon(
        30% 44%,
        63% 42%,
        69% 84%,
        38% 86%
    );
}

.photo-panel {
    left: 22%;
    bottom: 43%;
}

.keyboard-hotspot {
    left: 30%;
    top: 67%;
    width: 35%;
    height: 25%;

    clip-path: polygon(
        10% 11%,
        73% 1%,
        78% 30%,
        10% 45%
    );
}

.keyboard-panel {
    left: 35%;
    bottom: 35%;
}

.schedule-title {
    text-align: center;
    font-size: 32px;
}
.table-container {
    width: 80%;
    margin: 0 auto 30px;
    overflow-x: auto;
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 20px 0;
}
.filter-button {
    color: var(--color-text);
    padding: 6px 12px;
    border-radius: var(--radius);
    border: 2px solid var(--color-primary);
    background-color: var(--color-light);
    font: inherit;
    cursor: pointer;
    transition: all 0.25s ease;
}

.filter-button:hover {
    background-color: var(--color-accent);
    box-shadow: 0px 2px 5px var(--color-text);
}

.filter-button.active {
    background-color: var(--color-dark);
    color: var(--color-light);
}

table {
    width: 100%;
    min-width: 900px;
    border-collapse: separate;
    border-spacing: 3px;
    text-align: center;
}


th {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.weekday {
    background-color: var(--color-secondary);
    font-weight: 700;
}

th,
td {
    border: 2px solid var(--color-dark);
    padding: 14px 8px;
    text-align: center;
    border-radius: 10px;
}

th {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.lecture {
    background-color: var(--color-primary);
    color: var(--color-light);
}

.seminar {
    background-color: var(--color-accent);
    color: var(--color-text);
}

.pe {
    background-color: var(--color-secondary);
    color: var(--color-text);
}

.default-panel {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

@media (max-width: 768px) {
    header {
        padding: 10px 5%;
    }

    .header-container {
        width: 90%;
    }

    header img {
        width: 45px;
    }

    .left {
        gap: 10px;
    }

    header h1 {
        font-size: 22px;
        margin: 0;
    }

    .hamburger {
        display: block;
        width: fit-content;

        margin: 12px 5% 0 auto;

        padding: 6px 10px;

        font-size: 26px;
        line-height: 1;

        color: var(--color-primary);
        background-color: var(--color-light);

        border: 2px solid var(--color-primary);
        border-radius: 8px;

        cursor: pointer;
    }

    nav {
        display: none;
        flex-direction: column;
        align-items: stretch;

        gap: 5px;

        margin: 6px 5% 0;
        padding: 8px;

        background-color: var(--color-light);
        border: 2px solid var(--color-primary);
        border-radius: 12px;
    }

    #menu-toggle:checked + .hamburger + nav {
        display: flex;
    }

    nav ul {
        flex-direction: column;
        align-items: stretch;
        gap: 5px;
    }

    nav li {
        width: 100%;
    }

    nav a {
        display: block;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }

    #about {
        flex-direction: column;
        align-items: center;
    }

    #author {
        width: 70%;
    }

    .about-text {
        max-width: 100%;
    }

    .hotspot-panel {
        position: absolute;

        left: 0;
        right: 0;
        bottom: -110px;
        max-width: none;

        width: 100%;
        height: 110px;
        box-sizing: border-box;

        padding: 12px 18px;
    }
    .hotspot-panel::after {
        display: none;
    }

    .default-panel {
        position: absolute;

        left: 0;
        right: 0;
        bottom: -110px;

        width: 100%;
        height: 110px;
        box-sizing: border-box;

        padding: 12px 18px;

        background-color: var(--color-light);
        border: 2px solid var(--color-primary);
        border-radius: 10px;

        box-shadow: 0 4px 12px rgba(31, 29, 54, 0.15);

        opacity: 1;
        visibility: visible;
    }

    /* If the user selects a hotspot,
   the default prompt is hidden */
    .image-container:has(.hotspot:focus) .default-panel {
        opacity: 0;
        visibility: hidden;
    }

    /* A panel for the selected hotspot will appear */
    .hotspot:focus + .hotspot-panel {
        opacity: 1;
        visibility: visible;
    }
}